{{- $rebootCSS := resources.Get "css/reboot.css" }}
{{- $styleCSS := resources.Get "css/style.css" }}
{{- $syntaxCSS := resources.Get "css/syntax.css" }}
{{- $css := slice $rebootCSS $styleCSS $syntaxCSS | resources.Concat "css/paperesque.css" | minify | fingerprint }}
{{- $js := resources.Get "js/main.js" | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alegreya+SC:wght@400;500;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
