{{- $rebootCSS := resources.Get "css/reboot.css" }}
{{- $styleCSS := resources.Get "css/style.css" }}
{{- $syntaxCSS := resources.Get "css/syntax.css" }}
{{- $css := slice $rebootCSS $styleCSS $syntaxCSS | resources.Concat "css/paperesque.css" | minify | fingerprint }}
{{- $js := resources.Get "js/main.js" | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
