@font-face {
    font-family: VictorMono;
    font-style: normal;
    src: url(../fonts/VictorMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: VictorMono;
    font-style: italic;
    src: url(../fonts/VictorMono-Italic.ttf) format('truetype');
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

pre code {
    font-size: 18px;
}

body {
    font-family: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira";
    font-size: 22px;
    font-weight: 400;
    background-color: #faf4ed;
}

code {
    font-family: VictorMono;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-variant: small-caps;
    color: #286983;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #191724;
        color: #f1f1f1;
    }

    a {
        color: #8cc2dd;
    }

    blockquote {
        color: #ccc;
    }

    textarea,
    input {
        background-color: #252525;
        color: #ddd;
    }

    .helptext {
        color: #aaa;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #ebbcba;
    }
}

@media screen and (min-width: 1200px) {
    .toc {
        float: none;
        z-index: 0;
        position: fixed;
        top: 150px;
        left: calc(50% - 630px);
        width: 250px;
        margin: 0;
    }
}