.sidenote {
    font-size: 20px;
    display: block;
    float: right;
    width: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

@media screen and (min-width: 1200px) {
    .sidenote {
        float: none;
        position: absolute;
        right: calc(50% - 630px);
        width: 250px;
        border: 1px solid #000;
        margin: 0;
        padding: 15x
    }
}

@media (prefers-color-scheme: dark) {
    .sidenote {
        display: block;
        float: right;
        border: 1px solid #ccc;
    }
}